openapi: 3.0.3
info:
  title: Organizze API
  version: 2.0.0
  description: >-
    Empirically generated OpenAPI specification from actual API responses


    Generated on: 2026-02-20 01:41:00 (UTC)
servers:
- url: https://api.organizze.com.br/rest/v2
  description: Production server
security:
- basicAuth: []
paths:
  /accounts:
    get:
      summary: List Account
      tags:
      - Accounts
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsArray'
        401:
          description: Unauthorized
    post:
      summary: Create Account
      tags:
      - Accounts
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        401:
          description: Unauthorized
  /accounts/{accountId}:
    get:
      summary: List Account
      tags:
      - Accounts
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        401:
          description: Unauthorized
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    put:
      summary: Update Account
      tags:
      - Accounts
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        401:
          description: Unauthorized
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    delete:
      summary: Delete Account
      tags:
      - Accounts
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        401:
          description: Unauthorized
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int64
  /categories:
    get:
      summary: List Categorie
      tags:
      - Categories
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoriesArray'
        401:
          description: Unauthorized
    post:
      summary: Create Categorie
      tags:
      - Categories
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Categorie'
        401:
          description: Unauthorized
  /categories/{categoryId}:
    get:
      summary: List Categorie
      tags:
      - Categories
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Categorie'
        401:
          description: Unauthorized
      parameters:
      - name: categoryId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    put:
      summary: Update Categorie
      tags:
      - Categories
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Categorie'
        401:
          description: Unauthorized
      parameters:
      - name: categoryId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    delete:
      summary: Delete Categorie
      tags:
      - Categories
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Categorie'
        401:
          description: Unauthorized
      parameters:
      - name: categoryId
        in: path
        required: true
        schema:
          type: integer
          format: int64
  /credit_cards:
    get:
      summary: List CreditCard
      tags:
      - CreditCards
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditCardsArray'
        401:
          description: Unauthorized
    post:
      summary: Create CreditCard
      tags:
      - CreditCards
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditCard'
        401:
          description: Unauthorized
  /credit_cards/{creditCardId}:
    get:
      summary: List CreditCard
      tags:
      - CreditCards
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditCard'
        401:
          description: Unauthorized
      parameters:
      - name: creditCardId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    put:
      summary: Update CreditCard
      tags:
      - CreditCards
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditCard'
        401:
          description: Unauthorized
      parameters:
      - name: creditCardId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    delete:
      summary: Delete CreditCard
      tags:
      - CreditCards
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditCard'
        401:
          description: Unauthorized
      parameters:
      - name: creditCardId
        in: path
        required: true
        schema:
          type: integer
          format: int64
  /budgets:
    get:
      summary: List Budget
      tags:
      - Budgets
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetsArray'
        401:
          description: Unauthorized
  /budgets/{year}:
    get:
      summary: List Budget
      tags:
      - Budgets
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetsArray'
        401:
          description: Unauthorized
      parameters:
      - name: year
        in: path
        required: true
        schema:
          type: integer
          format: int64
  /budgets/{year}/{id}:
    get:
      summary: List Budget
      tags:
      - Budgets
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetsArray'
        401:
          description: Unauthorized
      parameters:
      - name: year
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
  /transactions:
    get:
      summary: List Transaction
      tags:
      - Transactions
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsArray'
        401:
          description: Unauthorized
    post:
      summary: Create Transaction
      tags:
      - Transactions
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
        401:
          description: Unauthorized
  /transactions/{transactionId}:
    get:
      summary: List Transaction
      tags:
      - Transactions
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
        401:
          description: Unauthorized
      parameters:
      - name: transactionId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    put:
      summary: Update Transaction
      tags:
      - Transactions
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
        401:
          description: Unauthorized
      parameters:
      - name: transactionId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    delete:
      summary: Delete Transaction
      tags:
      - Transactions
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
        401:
          description: Unauthorized
      parameters:
      - name: transactionId
        in: path
        required: true
        schema:
          type: integer
          format: int64
  /transactions (recurring):
    post:
      summary: Create Transaction
      tags:
      - Transactions
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
        401:
          description: Unauthorized
  /transactions (installments):
    post:
      summary: Create Transaction
      tags:
      - Transactions
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
        401:
          description: Unauthorized
  /transfers:
    get:
      summary: List Transfer
      tags:
      - Transfers
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransfersArray'
        401:
          description: Unauthorized
    post:
      summary: Create Transfer
      tags:
      - Transfers
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transfer'
        401:
          description: Unauthorized
  /transfers/{transferId}:
    get:
      summary: List Transfer
      tags:
      - Transfers
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transfer'
        401:
          description: Unauthorized
      parameters:
      - name: transferId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    put:
      summary: Update Transfer
      tags:
      - Transfers
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transfer'
        401:
          description: Unauthorized
      parameters:
      - name: transferId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    delete:
      summary: Delete Transfer
      tags:
      - Transfers
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transfer'
        401:
          description: Unauthorized
      parameters:
      - name: transferId
        in: path
        required: true
        schema:
          type: integer
          format: int64
  /credit_cards/{creditCardId}/invoices:
    get:
      summary: List Invoice
      tags:
      - Invoices
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesArray'
        401:
          description: Unauthorized
      parameters:
      - name: creditCardId
        in: path
        required: true
        schema:
          type: integer
          format: int64
  /credit_cards/{creditCardId}/invoices/{invoiceId}:
    get:
      summary: List Invoice
      tags:
      - Invoices
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        401:
          description: Unauthorized
      parameters:
      - name: creditCardId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: invoiceId
        in: path
        required: true
        schema:
          type: integer
          format: int64
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Email as username, API token as password
  schemas:
    Account:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        description:
          type: string
        archived:
          type: boolean
        created_at: {}
        updated_at: {}
        default:
          type: boolean
        type:
          type: string
    AccountsArray:
      type: array
      items:
        $ref: '#/components/schemas/Account'
    Categorie:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        color:
          type: string
        parent_id:
          nullable: true
    CategoriesArray:
      type: array
      items:
        $ref: '#/components/schemas/Categorie'
    CreditCard:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        description:
          nullable: true
        card_network:
          type: string
        closing_day:
          type: integer
          format: int64
        due_day:
          type: integer
          format: int64
        limit_cents:
          type: integer
          format: int64
        type:
          type: string
        archived:
          type: boolean
        default:
          type: boolean
        created_at: {}
        updated_at: {}
    CreditCardsArray:
      type: array
      items:
        $ref: '#/components/schemas/CreditCard'
    Budget:
      type: object
      properties:
        amount_in_cents:
          type: integer
          format: int64
        category_id:
          type: integer
          format: int64
        date: {}
        activity_type:
          type: integer
          format: int64
        total:
          type: integer
          format: int64
        predicted_total:
          type: integer
          format: int64
        percentage:
          type: string
    BudgetsArray:
      type: array
      items:
        $ref: '#/components/schemas/Budget'
    Transaction:
      type: object
      properties:
        id:
          type: integer
          format: int64
        description:
          type: string
        date: {}
        paid:
          type: boolean
        amount_cents:
          type: integer
          format: int64
        total_installments:
          type: integer
          format: int64
        installment:
          type: integer
          format: int64
        recurring:
          type: boolean
        account_id:
          type: integer
          format: int64
        account_type:
          nullable: true
        category_id:
          type: integer
          format: int64
        contact_id:
          nullable: true
        notes:
          type: string
        attachments_count:
          type: integer
          format: int64
        credit_card_id:
          nullable: true
        credit_card_invoice_id:
          nullable: true
        paid_credit_card_id:
          nullable: true
        paid_credit_card_invoice_id:
          nullable: true
        oposite_transaction_id:
          nullable: true
        oposite_account_id:
          nullable: true
        created_at: {}
        updated_at: {}
        tags:
          type: array
    TransactionsArray:
      type: array
      items:
        $ref: '#/components/schemas/Transaction'
    Transfer:
      type: object
      properties:
        recurrence_id:
          nullable: true
        attachments:
          type: array
        id:
          type: integer
          format: int64
        description:
          type: string
        date: {}
        paid:
          type: boolean
        amount_cents:
          type: integer
          format: int64
        total_installments:
          type: integer
          format: int64
        installment:
          type: integer
          format: int64
        recurring:
          type: boolean
        account_id:
          type: integer
          format: int64
        account_type:
          nullable: true
        category_id:
          type: integer
          format: int64
        contact_id:
          nullable: true
        notes:
          type: string
        attachments_count:
          type: integer
          format: int64
        credit_card_id:
          nullable: true
        credit_card_invoice_id:
          nullable: true
        paid_credit_card_id:
          nullable: true
        paid_credit_card_invoice_id:
          nullable: true
        oposite_transaction_id:
          type: integer
          format: int64
        oposite_account_id:
          type: integer
          format: int64
        created_at: {}
        updated_at: {}
        tags:
          type: array
    TransfersArray:
      type: array
      items:
        $ref: '#/components/schemas/Transfer'
    Invoice:
      type: object
      properties:
        id:
          type: integer
          format: int64
        date: {}
        starting_date: {}
        closing_date: {}
        amount_cents:
          type: integer
          format: int64
        payment_amount_cents:
          type: integer
          format: int64
        balance_cents:
          type: integer
          format: int64
        previous_balance_cents:
          type: integer
          format: int64
        credit_card_id:
          type: integer
          format: int64
        transactions:
          type: array
        payments:
          type: array
    InvoicesArray:
      type: array
      items:
        $ref: '#/components/schemas/Invoice'
